/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
}

.error {
  color: crimson;
  border-radius: 3px;
  border: 2px solid crimson;
  padding: 10px;
}
